<a href="https://colab.research.google.com/github/amruthdhulipalla/python-new/blob/module-4/python_regx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
txt="my name is amruth"
x=re.search("amruth",txt)
print(x)

<re.Match object; span=(11, 17), match='amruth'>

In [ ]:
import re 
txt = "my name is amruth"
x=re.search("amruth",txt)
if x:
  print("yes it is a match ")
else:
    print("no it is not match")

yes i is a match

In [ ]:
import re 
txt = "my name is amruth"
x=re.search("dhulipalla",txt)
if x:
  print("yes it is a match ")
else:
    print("no it is not match")

no it is not match

findall

In [ ]:
import re
txt = "To save the saviour Murali Krishna from an evil Varadarajulu's trap, Lord Shiva's ardent devotee, Akhanda, moves heaven and earth."
x=re.findall("ra",txt)
print(x)

['ra', 'ra', 'ra', 'ra']

In [ ]:
import re
txt = "To save the saviour Murali Krishna from an evil Varadarajulu's 25 trap, Lord Shiva's ardent devotee, Akhanda, moves heaven and earth."
x=re.findall("25",txt)
print(x)

['25']

search()

In [ ]:
import re

txt = "To save the saviour Murali Krishna from an evil Varadarajulu's 25 trap, Lord Shiva's ardent devotee, Akhanda, moves heaven and earth."
x = re.search("save", txt)
print(x)

<re.Match object; span=(3, 7), match='save'>

In [ ]:
import re 
txt ="To save the saviour Murali Krishna from an evil Varadarajulu's 25 trap, Lord Shiva's ardent devotee, Akhanda, moves heaven and earth."
z=re.search("\s",txt)
print(z.start())

2

split()

In [ ]:
txt = "To save the saviour Murali Krishna from an evil Varadarajulu's 25 trap, Lord Shiva's ardent devotee, Akhanda, moves heaven and earth."
x = re.split(" ", txt)
print(x)

['To', 'save', 'the', 'saviour', 'Murali', 'Krishna', 'from', 'an', 'evil', "Varadarajulu's", '25', 'trap,', 'Lord', "Shiva's", 'ardent', 'devotee,', 'Akhanda,', 'moves', 'heaven', 'and', 'earth.']

In [1]:

import re
txt= "amruth is gopod one "
x = re.findall("[arn]", txt)

print(x)

['a', 'r', 'n']

In [ ]:
import re

txt = "The rain in Spain"

#Check if the string has other characters than a, r, or n:

x = re.findall("[^arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

[a-n]

In [2]:

import re
txt= "amruth is gopod one "
x = re.findall("[a-n]", txt)

print(x)

['a', 'm', 'h', 'i', 'g', 'd', 'n', 'e']

split

In [4]:
txt = "The rain in Spain and in the house of rome why becoz he got angry"
x = re.split("\s", txt, 5)
print(x)

['The', 'rain', 'in', 'Spain', 'and', 'in the house of rome why becoz he got angry']

sub()

In [6]:
import re

txt = "The rain in Spain and in the house of rome why becoz he got angry"
x = re.sub("\s", "9", txt,5)
print(x)

The9rain9in9Spain9and9in the house of rome why becoz he got angry

Write a Python program that matches a string that has an a followed by zero or more b's

In [21]:
import re

txt = "8 times 2  before 11:45 AM"



b = re.findall("[0-9]", txt)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")



print(b)
x= re.findall("[b]",txt)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")
  print(x)

Yes, there is at least one match!
['8', '2', '1', '1', '4', '5']
Yes, there is at least one match!

Write a Python program to check that a string contains only a certain set of characters (in this
case a-z, A-Z and 0-9)

In [14]:
import re

txt = "The rain 0 in 9 Spain"



x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', '0', 'i', 'n', '9', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

Write a Python program that matches a string that has an a followed by one or more b's

In [23]:
txt="i ama hyuujiki 2 grtb 8 "
x = re.findall("\wb", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['tb']
Yes, there is at least one match!